<!DOCTYPE html>
<html lang="es" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="language" content="es">
    <title>title, nuevo titulo | mimodulo.pe</title>
    <meta name="title" content="title, nuevo titulo | mimodulo.pe">
    <meta name="description" content="Nueva descripcion">
    <meta name="author" content="Orbis Ventures">
    <meta name="DC.Title" content="title, nuevo titulo | mimodulo.pe">
    <meta name="DC.Contributor" content="Orbis Ventures">
    <meta name="DC.Creator" content="Urbania">
    <meta name="DC.Description" content="Nueva descripcion">
    <meta name="DC.Language" content="es">
    <meta name="DC.Publisher" content="Grupo El Comercio">
    <meta name="geo.placename" content="Cercado de Lima">
    <meta name="geo.position" content="-12.0478;-77.0622">
    <meta name="geo.region" content="PE-LIM">
    <meta name="ICBM" content="-12.0478, -77.0622">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="index,follow">
    <meta name="keywords" content="nuevas keywords">
    <meta property="og:description" content="Nueva descripcion">
    <meta property="og:image" content="http://local.uploader.com/img/logo_mimodulo.png?1425079939802">
    <meta property="og:image:height" content="60">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="90">
    <meta property="og:site_name" content="mimodulo">
    <meta property="og:title" content="title, nuevo titulo | mimodulo.pe">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://local.uploader.com/">
    <link href="http://local.uploader.com/css/modules/all_modules/fonts.css?1425079939802" media="all" rel="stylesheet" type="text/css">
    <link href="http://local.uploader.com/css/modules/all_modules/all.css?1425079939802" media="all" rel="stylesheet" type="text/css">
    <link href="http://local.uploader.com/css/layouts/main/layout.css?1425079939802" media="all" rel="stylesheet" type="text/css">
    <!--
    *Para algo como:
    
    module: mimodulo
    controller: Account
    
    *debe cargar algo como:
    
    <link href="static/css/modules/mimodulo/module_mimodulo.css?20140918" media="screen" rel="stylesheet" type="text/css">
    <link href="static/css/modules/mimodulo/Account.css?20140918" media="screen" rel="stylesheet" type="text/css"><script type="text/javascript">
    
    -->
    <link href="http://local.uploader.com/img/favicon.ico?1425079939802" rel="icon" type="image/vnd.microsoft.icon">
    <link href="http://local.uploader.com/img/favicon.ico?1425079939802" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href="http://local.uploader.com/img/favicon.ico?1425079939802" rel="shortcut icon" type="image/x-icon">
    <link href="http://local.uploader.com/img/logo_mimodulo.png?1425079939802" rel="image_src" type="image/jpeg"><!--[if lte IE 9]>
    <link href="http://local.uploader.com/css/modules/all/ie.css?1425079939802" media="all" rel="stylesheet" type="text/css">
    <script src="http://local.uploader.com/js/dist/libs/selectivizr/selectivizr.js?1425079939802"></script>
    <script src="http://local.uploader.com/js/dist/libs/html5shiv/dist/html5shiv.js?1425079939802"></script><![endif]-->
    <script type="text/javascript">
      var yOSON = {
          "module"     : "nombre_del_modulo",
          "controller" : "nombre_del_controller",
          "action"     : "nombre_del_action",
          "baseHost"   : "http://local.uploader.com/",
          "statHost"   : "http://local.uploader.com/",
          "eHost"      : "http://local.uploader.com/",
          "statVers"   : "?1425079939802",
          "AppCore"    : {},
          "AppSandbox" : {},
          "tmp"        : {},
          "AppSchema"  : {
              "modules"  : {},
              "requires" : {}
          }
      }
      
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28965570-1']);
      _gaq.push(['_setDomainName', '.pagoefectivo.pe']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_trackPageLoadTime']);
      
      (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <header>
      <div class="box_center">
        <h1>Flux!</h1>
      </div>
    </header>
    <!-- -- -- -- -- -- -- -- -- -- -- fin del header -- -- -- -- --  -- -- -- -- ---->
    <!-- -- -- -- -- -- -- -- -- -- -- inicio del footer -- -- -- -- -- -- -- -- -- ---->
    <footer>
      <div class="box_center">
        <div class="footer_left"></div>
        <div class="footer_right">
          <p>Frontend Labs &copy; 2014</p>
        </div>
      </div>
    </footer>
    <script src="http://local.uploader.com/js/dist/libs/jquery/dist/jquery.min.js?1425079939802" type="text/javascript"></script>
    <script src="http://local.uploader.com/js/dist/libs/yosonjs/dist/yoson.js?1425079939802" type="text/javascript"></script>
    <script src="http://local.uploader.com/js/dist/libs/yosonjs_utils/yosonjs_utils.js?1425079939802" type="text/javascript"></script>
    <!--script(src="#{page.static_url}js/dist/scripts/modules/all/all.js#{page.version}", type="text/javascript")-->
    <!--script(src="#{page.static_url}js/dist/scripts/modules/mimodulo/Account/Account.js#{page.version}", type="text/javascript")-->
    <!--script(src="#{page.static_url}js/dist/libs/yosonjs_utils/modules.js#{page.version}", type="text/javascript")-->
    <!--script(src="#{page.static_url}js/dist/libs/yosonjs_utils/appLoad.js#{page.version}", type="text/javascript")-->
  </body>
</html>