/*!
 * Solo para version menores a IE 9
 * @module ie
 * @author Jan Sanchez*/
.liquid_result .filter_advanced.toogle{display:none}
.select_pretty select{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";background:#fff}
.select_pretty select option{background:0 0}
body.fixed header .main_menu ul .btn_post{top:-43px;transition:all .3s ease-in;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in}
body.fixed header .main_menu ul .btn_post .ico_post{visibility:hidden;transition:all .3s ease-in;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in}
.compare_form a{margin-left:2px;padding-left:6px;padding-bottom:6px;width:9%}
.compare_form input{padding-right:10px!important;padding-left:10px!important}
.slider-horizontal{width:190px!important}
.first_title{-ms-filter:"progid:DXImageTransform.Microsoft.DropShadow(offX=2,offY=2,color=A29C7E)"}
.btn_post a,.help_txt,.main_menu ul li a{font-family:$family2}
input[type=text],input[type=email],input[type=tel],input[type=password],select,textarea{line-height:32px}
select{line-height:22px}
.button>img{height:8px;width:95%;bottom:-6px}