<!DOCTYPE html>
<head>
  <title>redireccionando</title>
  <meta http-equiv="refresh" content="0; url=http://localhost:3000/modules/fileuploader/home/index.html">
</head>
<body>
  <p>redireccionando...</p>
</body>