/*!!
 * home
 * @controller fileuploader
 * @module fileuploader
 * @author Jhonnatan Castro
 */

@require '../../_config/*'
@require '../../_mixins/*'

/*!!
* index
* @controller fileuploader
* @view index
*/

ul
	padding: 0
	margin:0
	li
		width: 12%
		display: inline-block
		border: 1px solid
		margin: 0.7%
		padding: 0.5%
		input
			float: right
			margin: 0 15px
