extends ../../../layout/layout.jade
//- home/index

block content
	.myfiles
		input.fileupload(type='file', name='files[]', multiple='')
		input.subir(type='button', value='Subir')
		h3
	.content
		ul.wrapper_preview_cache
		ul.wrapper_preview_recently_uploaded
	script#tplPreviewRecentlyUploaded(type='text/template').
		<li class="uploaded">
		<p>{{=file.name}}</p>
		<img src="{{=img.src}}" width="{{=img.width}}" height="{{=img.height}}">
		<input type="button" value="Delete" data-type="DELETE" data-url="{{=button.dataUrl}}">
		</li>
	script#tplPreviewCache(type='text/template').
		<li class="cache">
		<p>{{=file.name}}</p>
		<div class="img"></div>
		<input type="button" value="Cancelar">
		</li>